.gantt-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    color: #ffffff;
    .gantt-right-container{
        height: 100%;
    }
}
.gantt-right{
    flex-grow: 1;
    width: 80%;
}
